*{
    list-style:none;
}
body{
    background-color: paleturquoise;
}

#text{
    width: 250px;
    margin: 40px 660px 0;
    font-size: 26px;
    text-align: center;
}


#b1{
    margin: 0 850px;
}

ul{
    width: 180px;
    height: 180px;
    background-color: paleturquoise;
    margin: 40px auto;
}

li{
    width: 60px;
    height: 60px;
    background-color: blue;
    border-radius: 50%;
    float: left;
    margin: 0;    
    box-shadow: 2px 2px 5px 2px rgba(1, 1, 1, 0.4);
    text-align: center;
    font-size: 30px;
    color: pink;
    line-height: 60px;
}

li:hover{
    background-color: skyblue;
}